<div class="article">
  <h1><%= article.title %></h1>

  <%= image_tag article.header.url %>

  <% if admin_signed_in? %>
    <%= link_to "Edit", edit_article_path(article), class: 'button' %>
    <%= link_to "Delete", { action: :destroy, id: article.id }, class: 'button',
                            method: :delete, :data => { confirm: "Are you sure?" } %>
  <% end %>
  <br>

  <p><%= raw article.body_markdown %></p>
</div>
