<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "RBlog" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'topbar' %>
    
    <!-- title -->
    <div id="main-title" class="callout large primary">
      <div id="title-bar" class="row column text-center">
        <h1>RBlog</h1>
        <h2 class="subheader">Subtitle lorem ipsum dolor sit amet</h2>
      </div>
    </div>
    <!-- end title -->

    <% flash.each do |k,v| %>
      <div data-alert class="callout <%= k %>"><%= v %></div>
    <% end %>

    <div class="row column small-12 medium-10 large-8">
      <%= yield %>
    </div>

  </body>
</html>
